* {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    font-size: 20px;
    text-align: center;
}

main {
    width: 85%;
    margin: 2rem auto;
    font-family: 'Libre Franklin', sans-serif;
    
}
    .divText {
        height: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

        h1 {
            color: hsl(0, 0%, 59%);
            font-weight: 300;
            font-size: 1rem;
        }

            span {
                color: hsl(209, 33%, 12%);
                font-weight: 600;
            }

        p {
            color: hsl(209, 33%, 12%);
            font-weight: 300;
            font-size: 0.8rem;
        }

    form {
        width: 100%;
        height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .divForm {
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 90%;
        }
        
            input {
                height: 2rem;
                border: 1px solid hsl(223, 100%, 88%);
                border-radius: 50px;
                font-size: 0.7rem;
                outline: none;
                padding-left: 15px;
                
            }

            input::placeholder {
                color: hsl(0, 0%, 90%);
                
            }

            button {
                height: 2rem;
                color: #fff;
                background-color: hsl(210, 71%, 42%);
                font-family: 'Libre Franklin', sans-serif;
                font-size: 0.7rem;
                font-weight: 600;
                border-radius: 50px;
                cursor: pointer;
                box-shadow: 0px 4px 6px 1px rgb(125 113 113 / 30%);
                -webkit-box-shadow: 0px 4px 6px 1px rgb(125 113 113 / 30%);
                -moz-box-shadow: 0px 4px 6px 1px rgb(125 113 113 / 30%);
            }
    
    .imgDash {
        margin: 2rem auto;
        width: 90%;
    }

    footer {
        margin: 2rem auto 2rem auto;
    }
        .social {
            display: flex;
            text-decoration: none;
            justify-content: space-evenly;
            margin-bottom: 2rem;
        }
        
        .social li {
            text-decoration: none;
            list-style: none;
        }

            .ico {
                color:hsl(210, 71%, 42%);
            }

        .copy {
            font-size: 0.8rem;
        }